* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

body {
  padding: 10px;
}

#container {
  width: 90%;
  text-align: center;
  margin: auto;
}

.row {
  position: relative;
  margin-bottom: 10px;
}

.box {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.box > div{
  position: absolute;
  background: yellow;
  top: 0;
  right: 0;
}

.box i {
  width: 100%;
  display: none;
  position: absolute;
  font-size: 24px;
  text-align: center;
  bottom: 0;
  padding: 5px;
  /* background: pink; */
}

.box:hover i {
  display: block;
  color: red;
}

.box:nth-child(2n+1) > div {
  background-color: green;
}

.box:nth-child(2) > div {
  background-color: red;
}
